//
//  Secrets.xcconfig
//  appPueblosJaen
//
//  Created by Pablo Peragón Garrido on 25/11/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Properties
SUPABASE_URL = https://kmxacmsqybtwbebqhwnu.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtteGFjbXNxeWJ0d2JlYnFod251Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjEyMzc4NjQsImV4cCI6MjA3NjgxMzg2NH0.Tjpw2BFrIZfBf8LOf4nBKq7s551lrNSsqiIXKSgz_E4
